
.scrollFiller {
	border: none;
}

.tableHeader {
	height: 36px;
}

.ui-grid-header {
	max-height: 36px;
	border-bottom: none;
	background: #c0c7d7;
}
.ui-grid-render-container-left .ui-grid-header-viewport{
	/*margin-top: 1px;*/
	height: 36px;
}
.ui-grid-top-panel .ui-grid-cell-contents {
	background: none;
	background-color: #c0c7d7;
	color: #5e605b;
	font-size: 14px;
	font-weight: bold;
}

.ui-grid-top-panel .ui-grid-cell-contents: {
	background: none;
	background-color: #f3f3f3;
}

.ui-grid-top-panel .ui-grid-cell-contents:active {
	background: none;
	background-color: #c0c7d7;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child
	{
	box-sizing: border-box;
	border: none;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child
	{
	box-sizing: border-box;
	border-right: none;
	border-bottom:none;
}

.ui-grid-viewport {
	font-family: "helvetica", Arial, sans-serif;
}

.ui-grid-pinned-container-left {
	background: transparent;
}

.scrollFiller, .expandableRow {
	/*background: #f7f7f7;*/
}

.expandableRow {
	margin-top: 0px;
}

.ui-grid-menu-button {
	height: 36px;
	padding-top: 4px;
    padding-left: 7px;
}

.ui-grid-cell-contents {
	font-size: 14px;
	padding-top: 8.5px;
	padding-left: 3.5px;
	/*border-bottom: #f7f7f7 solid 1px;*/
}

.ui-grid-header .ui-grid-cell-contents
	{
	padding-top: 6.5px;
}

.ui-grid-cell-contents span.UNREACHABLE,.ui-grid-cell-contents span.CONSOLEMISMATCH {
	color: #e74747;
}
.ui-grid-cell-contents span.UNREACHABLE:before,
.ui-grid-cell-contents span.CONSOLEMISMATCH:before {
	content: "\e880";
}

.ui-grid-cell-contents span.INUSE, .ui-grid-cell-contents span.IDLE, .ui-grid-cell-contents span.DISCOVERED {
	color: #91c348;
}

.ui-grid-cell-contents span.DISCOVERED:before,
.ui-grid-cell-contents span.INUSE:before,
.ui-grid-cell-contents span.IDLE:before{
	content: "\e87f";
}

.ui-grid-cell-contents span.DISABLED {
	color: #777;
}
.ui-grid-cell-contents span.DISABLED:before {
	content: "\e882";
}

.ui-grid-cell-contents span.ENABLED {
	color: #05831c;
}


.ui-grid-row:nth-child(odd) .ui-grid-cell {
	background-color: #fff;
	color: #818181;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
	background-color: #fff;
	color: #818181;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell-hover {
	background-color: #f6faff;
}

.ui-grid-row:nth-child(even) .ui-grid-cell-hover {
	background-color: #f6faff;
}

.ui-grid-cell {
	border: none;
}

.ui-grid-disable-selection .ui-grid-cell-contents {
	border: none;
}
.ui-grid-header .ui-grid-top-panel{
	max-height: 36px;
	height:36px;
	border-bottom: 1px solid #D4D4D4;
}
 .ui-grid-header .ui-grid-cell-contents{
	max-height: 36px;
	height:36px;
	border-bottom: none;
 }


.wiz-add-task .ui-grid-header .ui-grid-cell-contents{
	padding-top: 8.5px;
}

.ui-grid-header .ui-grid-top-panel{
	background: none;
}
.ui-grid-row.ui-grid-row-selected>[ui-grid-row]>.ui-grid-cell {
	background-color: #E6f2ff;
	color: #000;
}

.expandableRow .ui-grid-row:nth-child(even) .ui-grid-cell {
	background-color: #fff;
}

.expandableRow .ui-grid-row:nth-child(odd) .ui-grid-cell {
	background-color: #fff;
}

.ui-grid-row-header-cell {
	width: 50px;
}

.ui-grid-selection-row-header-buttons {
	opacity: 1;
	cursor: pointer;
	height: 20px;
	display: block;
}

.ui-grid-rms-icon-ok {
	width: 16px;
	height: 16px;
	display: block;
	margin-top: 2px;
	margin-left: 15px;
	background: transparent url('../images/icons/com_check_nor.png')
		no-repeat center;
}

.ui-grid-rms-icon-ok-hover {
	background: transparent url('../images/icons/com_check_over.png')
		no-repeat center;
}

.ui-grid-rms-icon-ok-selected {
	background: transparent url('../images/icons/com_check_sel.png')
		no-repeat center;
}

.ui-grid-header-cell{
	border-right: none;
}
.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
	overflow: auto;
}
/**********************end UI Grid ***************************************/
