.rms_subtext {
	color: gray;
	font-style: italic;
	margin-bottom: 15px;
}

.top-buffer {
	margin-top: 10px;
}

.ip-mask {
	border: solid 1px #ddd;
	height: 36px;
	border-radius : 6px;
	line-height: 27px;
	padding: 2px 2px 2px 0px;
	display: inline-block;
}

.ip-mask input[type=text] {
	border: none;
	width: 27px;
	padding: 0px;
	margin: 0px;
	outline: none;
}

.btn-file {
	position: relative;
	overflow: hidden;
	width: 42px;
	height: 36px;
	border-radius: 6px;
	border-color: #e5e8ec;
    color: #b2b3b3;
    background: #f8f9f9;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.file-name {
	display: inline-block;
	width: 300px;
	height: 35px;
	line-height: 30px;
	white-space: nowrap;
	padding: 0 10px;
	border: 1px solid #dde0e5;
	border-radius: 5px;
	line-height: 30px;
	font-size: 12px;
	color: #686b72;
}

.rms-left-form {
	padding: 15px 15px 15px 15px;
}

.user-info-container {
	height: 70px;
	float: right;
	font-size: 14px;
}

.user-info-inside {
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #777777;
	float: left;
	padding: 0px 0px;
	position: relative;
	top: 20px;
}

.user-info-inside span {
	/*font-size: 25px;*/
	margin-right: 5px;
}

.user-img {
	border-radius: 50%;
	width: 30px;
	background-color: white;
	border: 1px solid white;
	margin-left: 10px;
	margin-right: 10px;
}
/********************************Top actionabar*****************************/
.toolbar-top-rms {
	height: 60px;
	width: 100%;
	display: block;
	padding: 15px;
}

.toolbar-top-rms .action-info {
	float: right;
	width: 300px;
	line-height: initial;
	box-sizing: border-box;
	overflow: hidden;
	font-style: italic;
	color: gray;
	margin-right: 15px;
}

.search-container {
	float: right;
	height: 32px;
	border: 1px solid #959595;
	width: 300px;
	margin-top: 9px;
	border-radius: 21px;
}

.search-box {
	height: 30px;
	margin-left: 14px;
	width: 220px;
	border: none;
	padding: 0px 10px;
	color: black;
}

.drop-down-btn {
	float: right;
	height: 100%;
	width: 39px;
	text-align: center;
	font-size: 16px;
	color: rgb(148, 148, 148);
	cursor: pointer;
}

.drop-down-btn span {
	display: block;
	margin-top: 5px;
}
/**********************Firmware***************************************/
.form-rms-firmware {
	margin: 0 0 0 0;
	padding: 0px 0 0 15px;
	display: block;
	height: auto;
	/*border-top: 1px solid #d9d9d9;*/
}

h3.sub-title {
	margin-top: 0;
	margin-bottom: 15px;
	background-color: #c3ccd9;
	height: 50px;
    line-height: 50px;
    font-weight: bold;
    padding-left: 15px;
}

.form-rms-firmware-action {
	margin: 0 0 0 0;
	padding: 0px 0 10px 0px;
	display: block;
	border-top: 1px solid #d9d9d9;
}

.form-rms-firmware-action .btn {
	border-radius: 0 !important;
	width: 200px;
	height: 39px;
}

.firmware-progress {
	width: 300px;
}
/**********************End Firmware************************************/

/*********************************Recent Tasks************************/
#recentTasks {
	display: block;
	height: 45px;
	min-height: 45px;
}

.recent-task-toolbar-top {
	height: 50px;
	width: 100%;
	display: block;
	padding: 10px;
}

.recent-task-container {
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	font-size: 14px;
	z-index: 1;
	background: #fff;
	min-width: 1270px;
}

.recent-task-header {
	    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    background: #263242;
    color: #fff;
}
.recent-task-header-inner{
	padding-top: 10px;
	width:90%;
}
.recent-task-header-expander{
	height: 40px;
	width: 40px;
	background: #3b485a;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}

.recent-task-label-container {
	display: inline-block;
	margin-left: 9%;
}

.expand-icon {
	display: inline;
	margin-left: 35%;
	color: fff;
}

.recent-task-table-container.active {
	max-height: 450px;
	overflow: auto;
	-webkit-overflow-scrolling: auto;
}

.recent-task-table-container {
	max-height: 0;
}

.recent-task-grid-container {
	height: 300px;
	display: block;
	position: relative;
}

.recent-task-grid {
	display: block;
	height: 300px;
	width: 100%;
}
.recent-task-grid .ui-grid-top-panel .ui-grid-cell-contents{
	color: #969696;
}
.recent-task-grid .ui-grid-cell-contents {
  font-size: 14px;
  padding-top: 9px;
  padding-left: 3.5px;
  border-bottom: #f7f7f7 solid 1px;
}
.recent_task-progress {
	width: 250px;
}
.recent-task-grid .failed, #recentTasks .failed, .ui-grid-cell-contents .failed,  .task-expanded-details .failed{
		width: 18px;
	height: 18px;
	position: absolute;
    padding-left: 2px;
}
.recent-task-grid .in-progress, #recentTasks .in-progress, .ui-grid-cell-contents .in-progress, .task-expanded-details .in-progress{
		width: 18px;
	height: 18px;
	display: inline-block;
	position: absolute;
    padding-left: 2px;
}
.recent-task-grid .success,  #recentTasks .success, .ui-grid-cell-contents .success, .task-expanded-details .success{
	width: 18px;
	height: 18px;
	display: inline-block;
	padding-left: 2px;
	position: absolute;
    padding-left: 2px;
}

.lnr-cross-circle{
	font-size: 22px;	
}
.lnr-question-circle{
	font-size: 22px;
	color: black;
}
.lnr-success{
	color:#91c348;
}
.lnr-success:before{
	content: "\e87f";
}
.lnr-failed{
	color:#e74747;
}
.lnr-failed:before{
	content: "\e880";
}
.lnr-progress{
	color:#2779ab;
}
.lnr-progress:before{
	content: "\e88a";
}

#recentTasks .log-in-progress{
	margin-left:15px;
		width: auto;
	height: 18px;
	display: inline-block;
}
#recentTasks .log-in-progress img{
	border: none;
	display: inline-block;
	width: 18px;
	height: 18px;
}



/******************************End menu**************************/

/************************** Start settings **********************/
.backup-grid-container #fakeScroll{
	right: 0px;
}
.backup-grid {
	position: absolute;
	width: 100%;
	height: 320px;
	display: inline-block;
}

.backup-desc {
	resize: none;
}

::-webkit-validation-bubble-message {
	display: none;
}
/***********************Modal*******************************************/
.wiz-add-task {
	height: 620px;
}

.wiz-add-group, .wiz-add-task {
	display: block;
	width: 770px;
	text-align: left;
	color: #3c3c3c;
	float: left;
	background-color: #fff;
}
.wiz-add-group, .wiz-add-task table{
	min-width: 280px;
	line-height: normal;
	outline: none;
}

.wiz-add-task input[type="text"], .wiz-add-task input[type="password"],
	.wiz-add-task select, .wiz-add-task span.error-inline {
	width: 300px;
	height: 34px;
}

.wiz-add-task input {
	padding: 0 10px;
	border: 1px solid #dde0e5;
	border-radius: 5px;
	line-height: 26px;
	font-size: 12px;
	color: #686b72;
}

/************************* for textarea inside widget *********************************************/
.wiz-add-task textarea {
	width: 300px;
	height: 70px;
}

.wiz-add-task .check-box-group {
	display: inline-block;
	margin-top: 10px;
}

.wiz-add-task span.error-inline {
	display: block;
	padding: 5px;
	height: 20px;
	/* margin-left: 80px; */
}

/* added for group bcz in group we are taking col-sm-4 as compare to task's col-sm-2 */
.wiz-add-task span.error-inline-group {
	display: block;
	padding: 5px;
	margin-left: 165px;
}

.wiz-add-task select.small {
	width: 75px;
	height: 34px;
}

.wiz-add-task .sub-title-task {
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}

.wiz-add-task .client-list {
	display: block;
	margin-left: 18px;
}
.wiz-add-task .client-list .info-clients {
	color: #0080ff;
	font-weight: normal;
}

.wiz-add-task .client-list #group-filter {
	margin-right: 18px;
}

.wiz-add-task .client-list .ui-grid-cell-contents {
	font-size: 12px;
}

.wiz-add-task .client-list .ui-grid-cell .ui-grid-cell-contents {
	font-size: 12px;
	padding-top: 6.5px;
}


.wiz-add-task .form-rms-firmware h3 {
	margin-top: 0;
	margin-bottom: 5px;
	padding-left: 0px;
}

.sub-grid .tableHeader {
	height: 36px;
}

.sub-grid .ui-grid-header {
	max-height: 36px;
}

.wiz-add-task .client-list span {
	font-weight: bold;
	/* given margin bcz due to enabling scroll this was being hidden
	margin-right: 10px;*/
}
.wiz-add-task .client-list span.normal{
	font-weight: normal;
}
.wiz-add-task .sub-title-task span {
	font-weight: bold;
}

.wiz-add-task .btn-dtp {
	width: 40px;
	height: 40px;
}

.wiz-add-task .btn-center {
	margin-top: 20px;
	margin-left: 40%;
}

.wiz-add-task .x-close-small {
	position: absolute;
	margin-top: 3px;
	width: 10px;
	height: 10px;
	left: 15px;
	border: none;
	display: inline-block;
	background: transparent url('../images/icons/tag_close.png') no-repeat
		center;
	cursor: pointer;
}

.wiz-add-task .input-group-btn {
	width: auto;
}

.modal-body-wiz {
	position: relative;
	padding: none;
}

.wiz-menus {
	width: 175px;
	height: auto;
	list-style: none;
	margin: 0;
	padding: 0px;
	float: left;
	list-style: none;
}

.wiz-menus li.active {
	background-color: #475263;
	color: #fff;
}

.wiz-menus li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 32px;
	cursor: pointer;
	box-sizing: border-box;
	font-size: 14px;
	background-color: #263242;
	color: #fff;
}
.wiz-menus li.disabled{
	cursor: default;
	color: #93969A;
}


.wiz-right-content.active {
	display: block;
}

.wiz-right-content {
	position: absolute;
	right: 0px;
	/* border: 1px solid black; */
	width: 590px;
	/* fixed the right -content for enabling scrolling in Overview  */
	height: 470px;
	top: 0px;
	padding: 10px 10px;
	display: block;
	font-size: 14px;
	padding-left: 0;
	overflow: hidden;
}

.wiz-left-content {
    width: 175px;
    height: 470px;
    border: none;
    display: block;
    border-right: 1px solid #475263;
    background: #475263;
}
.wiz-left-content-fake {
    width: 175px;
    height:101px;
    border: none;
    display: block;
    background: #475263;
}

.wiz-right-content small {
	display: inline-block;
	    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wiz-right-content label, .wiz-right-content small {
	padding-top: 10px;
	font-weight: normal;
}

.wiz-right-content .summary {
	
}

.wiz-right-content .summary .heading {
	font-size: 14pt;
	font-weight: bold;
}

.wiz-right-content .summary .content {
	font-size: 14px;
	font-weight: lighter;
	line-height: 24pt;
}

.wiz-footer {
	width: 100%;
	text-align: right;
	padding-right: 10px;
	box-sizing: border-box;
	/*border-top: 1px solid #ebebeb;*/
}
.wiz-footer .required_info{
	display: flex;
}
.modal-content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 3px;
	/*background: rgba(0, 0, 0, 0.15);*/
	/*padding-bottom: 2px;*/
	position: absolute;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal-content .add {
	width: 775px;
}

.modal-content h3 {
	margin: 0;
	font-size: 18px;
	color: #797979;
	padding-left: 2.5px;
}

.modal-header {
	position: relative;
	border-bottom: 1px solid #ebebeb;
	line-height: 56px
}

.modal-header>div {
	position: absolute;
	top: 9px;
	right: 13px;
}

.modal-body {
	padding-top: 20px;
	padding-bottom: 10px;
}

.modal-body-common {
	min-width: 475px;
}

.modal-footer {
	margin-top: 0;
	border: none;
}
/*************************Settings*********************************************/
.settings-container-rms {
	padding: 0 5px 5px 5px;
	min-width: 727px;
}

.settings-container-rms h3 {
	font-size: 24px;
	font-weight: normal;
	padding: 0 15px 15px 15px;
	margin: 0;
}

.settings-container-rms .form {
	padding: 5px 20px 20px 0px;
}

.settings-container-rms .form .settings-input {
	display: inline-block;
	position: relative;
}

.settings-lebel {
	display: block;
	position: relative;
	font-size: 15px;	
	margin: 0;
	padding: 15px 20px 0px 0px;
}

.failover-stat {	
	font-weight: 100;
}

.settings-container-rms .form label {
	/*padding-top: 10px;*/
	font-weight: 100;
}

 label.nopadding  {
	padding-top: 0px;
}

.settings-container-rms .form .checkbox {
	padding-left: 0;
}

.file-input {
	display: inline-block;
}

.settings-container-rms .form input[type="text"],
	.settings-container-rms .form input[type="password"] {
	width: 340px;
	height: 34px;
	padding: 0 10px;
	/*border: 1px solid #dde0e5;*/
	border-radius: 5px;
	line-height: normal;
	font-size: 12px;
	color: #686b72;
}
.settings-container-rms .form input[type="text"]:active,
	.settings-container-rms .form input[type="password"]:active {
	line-height: 26px;

}

.settings-container-rms input[type=checkbox] {
	margin-left: 0;
}

.settings-container-rms .settings-footer {
	border-top: 1px solid #d9d9d9;
	padding-top: 20px;
}

.settings-failover-modal {
	margin-top: 1px;
	margin-bottom: 10px;
	margin-left: 10px;
	/* border-top: 1px solid #d9d9d9; */
	/* border-bottom: 1px solid #d9d9d9; */
	padding-top: 15px;
	padding-left: 10px;
}

/************************Select Box *************************************************/
.mad-selectbox {
	display: inline-block;
	vertical-align: middle;
	min-width: 150px;
	position: relative;
	outline: 0
}

.mad-selectbox .mad-selectbox-dropdown li .mad-selectbox-item,
	.mad-selectbox .mad-selectbox-toggle {
	display: block;
	background-color: #fff;
	padding: 0 10px;
	font-size: 12px;
	color: #555;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	white-space: nowrap;
}
.mad-selectbox .mad-selectbox-toggle{
	line-height: 0px;
}

.mad-selectbox .mad-selectbox-dropdown li .mad-selectbox-item-chk {
	display: inline-block;
}

.mad-selectbox .mad-selectbox-dropdown li .mad-selectbox-item:hover,
	.mad-selectbox .mad-selectbox-toggle:hover {
	text-decoration: none
}

.mad-selectbox .mad-selectbox-toggle {
	border: 1px solid #ddd;
	position: relative
}

.mad-selectbox .mad-selectbox-toggle.search {
	border: none;
	position: relative;
	padding: 0 0 0 0;
}

.mad-selectbox .mad-selectbox-toggle i {
	position: absolute;
	top: 9px;
	right: 10px;
	/*content: '';
	display: block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #555;
	position: absolute;
	top: 10px;
	right: 10px*/
}

.mad-selectbox .mad-selectbox-toggle.active:after {
	position: absolute;
	top: 9px;
	right: 10px;
	/*top: 12px;
	right: 9px;
	font-family: 'Fontawesome';
	border-bottom: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #555*/
}

.mad-selectbox .mad-selectbox-toggle:hover {
	text-decoration: none
}

.mad-selectbox .mad-selectbox-dropdown {
	background-color: #fff;
	/*border: 1px solid #ddd;*/
	display: block;
	z-index: 100;
	/*top: 31px;*/
	left: 0;
	width: 100%;
	/*position: absolute;
	height:auto;
	overflow: auto;*/
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.mad-selectbox .mad-selectbox-dropdown span {
	font-weight: normal;
}

.mad-selectbox .mad-selectbox-dropdown li {
	padding-left: 8px;
	color: #7f7e7e;
}

.mad-selectbox .mad-selectbox-dropdown li.active, .mad-selectbox .mad-selectbox-dropdown li.active .mad-selectbox-item
	{
	background-color: #f0f0f0;
	color: #777;
}

.mad-selectbox .mad-selectbox-dropdown li.focus, .mad-selectbox .mad-selectbox-dropdown li.focus .mad-selectbox-item,
	.mad-selectbox .mad-selectbox-dropdown li:hover, .mad-selectbox .mad-selectbox-dropdown li:hover .mad-selectbox-item
	{
	color: #000;
}

.mad-selectbox
 
.mad-selectbox-dropdown
 
li
:not
 
(
:last-child
 
){
/*border-bottom: 1px solid #ddd;*/
}
.mad-selectbox .mad-selectbox-dropdown li.mad-empty {
	padding: 10px;
	font-size: 14px;
	color: #999
}

.mad-selectbox-small {
	min-width: 80px;
}

.mad-selectbox-small input[type=text] {
	border: none;
	width: 58px;
	outline: none;
	background: transparent;
}

.mad-selectbox-large {
	min-width: 180px;
}

.mad-selectbox-large input[type=text] {
	border: none;
	width: 160px;
	outline: none;
	background: transparent;
}

.mad-selectbox-exlarge {
	min-width: 310px;
}

.mad-selectbox-exlarge input[type=text] {
	border: none;
	width: 290px;
	outline: none;
	background: transparent;
}

.mad-selectbox-main-filter {
	min-width: 300px;
}

.mad-selectbox-main-filter input[type=text] {
	border: none;
	width: 290px;
	outline: none;
	background: transparent;
}

.mad-selectbox-pop-filter {
	min-width: 210px;
}

.mad-selectbox-pop-filter input[type=text] {
	border: none;
	width: 190px;
	outline: none;
	background: transparent;
}
/***********************************end select box***********************************/

/**************************statrt iscroll ********************************************/
/* Styled scrollbars */
.iScrollHorizontalScrollbar {
	position: absolute;
	z-index: 1009;
	height: 16px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	overflow: hidden;
	background: #cfcfcf;
}

.iScrollHorizontalScrollbar.iScrollBothScrollbars {
	right: 18px;
}

.iScrollVerticalScrollbar {
	position: absolute;
	z-index: 1009;
	width: 16px;
	bottom: 2px;
	top: 2px;
	right: 2px;
	overflow: hidden;
	background: #cfcfcf;
}

.combine-v-scrolls .iScrollVerticalScrollbar, .slim-scroll .iScrollVerticalScrollbar{
	background:#cfcfcf;
	width: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	opacity: .3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity = 0);
	-webkit-transition: background-color 0.3s linear, opacity 0.3s linear;
	-moz-transition: background-color 0.3s linear, opacity 0.3s linear;
	-o-transition: background-color 0.3s linear, opacity 0.3s linear;
	transition: background-color 0.3s linear, opacity 0.3s linear;
}

.iScrollVerticalScrollbar:hover {
	background-color: #cfcfcf;
}
.iScrollIndicator:hover {
	background: #7f7e7e;
	border-color: #7f7e7e #7f7e7e #7f7e7e #7f7e7e;
}
/*.combine-v-scrolls:hover .iScrollVerticalScrollbar, */
.combine-v-scrolls .iScrollVerticalScrollbar:hover, .combine-v-scrolls .iScrollVerticalScrollbar-active,
.slim-scroll .iScrollVerticalScrollbar:hover, .slim-scroll .iScrollVerticalScrollbar-active {
	background: #cfcfcf;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity = 0);
}
/*.combine-v-scrolls:hover #fakeScroll .iScrollVerticalScrollbar{
	background:transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity = 0);
}*/
.iScrollVerticalScrollbar.iScrollBothScrollbars {
	bottom: 18px;
}

.iScrollIndicator {
	position: absolute;
	background: #afafaf;
	border-width: 1px;
	border-style: solid;
	border-color: #afafaf #afafaf #afafaf #afafaf;
}


.iScrollHorizontalScrollbar .iScrollIndicator {
	height: 100%;
	/*background: -moz-linear-gradient(left,  #cc3f6e 0%, #93004e 100%);
	background: -webkit-linear-gradient(left,  #cc3f6e 0%,#93004e 100%);
	background: -o-linear-gradient(left,  #cc3f6e 0%,#93004e 100%);
	background: -ms-linear-gradient(left,  #cc3f6e 0%,#93004e 100%);
	background: linear-gradient(to right,  #cc3f6e 0%,#93004e 100%);*/
}

.iScrollVerticalScrollbar .iScrollIndicator {
	width: 100%;
}

.combine-v-scrolls .iScrollIndicator, .slim-scroll .iScrollIndicator {
	background: -moz-linear-gradient(top, #999 0%, #aaa 100%);
	background: -webkit-linear-gradient(top, #999 0%, #aaa 100%);
	background: -o-linear-gradient(top, #999 0%, #aaa 100%);
	background: -ms-linear-gradient(top, #999 0%, #aaa 100%);
	background: linear-gradient(to bottom, #999 0%, #aaa 100%);
	border-radius: 8px;
}


#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#select_scroll_list {
	position: absolute;
	display: block;
	width: 100%;
	max-height: 200px;
	height: 200px;
	overflow: hidden;
	border: 1px solid #ddd;
}

#select_scroll_list_task_type {
	position: absolute;
	display: block;
	width: 100%;
	height: 120px;
	overflow: hidden;
	border: 1px solid #ddd;
}

#select_scroll_list_main_filter {
	position: absolute;
	display: block;
	width: 100%;
	max-height: 150px;
	overflow: hidden;
	border: 1px solid #ddd;
	margin-top: 28px;
	background: #fff;
}
/***************************end iscroll***********************************************/

/*******************************Client**********************************************/
.client-op-body {
	min-height: 200px;
	min-width: 590px;
}
.client-op-body-inline {
	min-height: 120px;
	min-width: 590px;
}
.modal-body .force {
	margin-right: 25px;
}

#client_op_list {
	position: absolute;
	width: 560px;
	display: block;
	height: 135px;
	overflow: hidden;
	margin-left: 15px;
	border: 1px solid #ebebeb;
}

.client-op-body .li-none {
	list-style-type: none;
	margin-left: -30px;
}

.combine-v-scrolls {
	position: relative;
	width: 100%;
}
.combine-v-scrolls-sub {
	position: relative;
	width: 90%;
}

#fakeScroll {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 18px;
	top: 36px;
	right: 12px;
}

.client-list #fakeScroll {
	position: absolute;
	display: inline-block;
	overflow: hidden;
	right: 0px;
	top: 36px;
}

.combine-v-scrolls-sub #fakeScroll {
		position: absolute;
	display: inline-block;
	overflow: hidden;
	right: 7px;
	top: 36px;
}

.client-list .ui-grid-rms-icon-ok {
	margin-top: 0px;
}

.client-grid {
	position: absolute;
	/*width: calc(100% + 18px);*/
}


/*****************************end client********************************************/

/*************************************Groups**************************************/
#displayForm .col-sm-4 {
	float: none;
}

.group-grid {
	position: absolute;
	/*width: calc(100% + 18px);*/
}

.group-expanded {
	position: relative;
	background: #f7f7f7;
	height: 380px;
	margin-top:20px;
	padding-left: 24px;
	width: calc(100% - 45px);
}

.group-expanded .group-expanded-details {
	width: calc(100% - 22px);
	background: #f7f7f7;
}

.group-expanded .content {
	display: block;
	min-height: 380px;
}


.group-expanded .sub-grid {
	width: 100%;
	height: 235px;
}


.group-expanded .row h5 {
	font-size: 14px;
	font-weight: normal;
	color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0px;
}

.group-expanded .combine-v-scrolls-sub #fakeScroll{
	right:-3px;
}
.group-expanded label {
	font-size: 14px;
	font-weight: normal;
	color: #737373;
}

.group-expanded small {
	font-size: 14px;
	font-weight: normal;
	color: #000;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.group-expanded small.group {
	font-size: 14px;
	font-weight: normal;
	color: #737373;
	padding-top: 26px;
	padding-bottom: 7px;
	padding-left: 5px;
	width: 20px;
	
}
.group-expanded label.group {
	font-size: 13pt;
	font-weight: bold;
	color: #000;
	padding-top: 25px;
	padding-bottom: 8px;
}

.expand-down-lg {
	width: 18px;
	height: 18px;
	display: block;
	background: transparent url('../images/buttons/rece_ic_arrow_sel.png')
		no-repeat center;
	cursor: pointer;
}

.expand-up-lg {
	width: 18px;
	height: 18px;
	display: block;
	background: transparent url('../images/buttons/rece_ic_arrow_nor.png')
		no-repeat center;
	cursor: pointer;
}
.expand-up-lg:hover{
		width: 18px;
	height: 18px;
	display: block;
	background: transparent url('../images/buttons/rece_ic_arrow_over.png')
		no-repeat center;
	cursor: pointer;
}
/*************************************end groups***********************************/

/*************************************Task grid**************************************/
.task-grid {
	position: absolute;
	/*width: calc(100% + 18px);*/
}

.task-expanded {
	position: relative;
	background: #f7f7f7;
	height: 240px;
	border: #cdd2d8 solid 1px;
	padding-left: 24px;
	width: calc(100% - 40px);
	margin-top: 20px;
}

.task-expanded .task-expanded-details {
	width: 100% ;
	background: #f7f7f7;
}

.task-expanded .content{
	display: block;
	min-height: 240px;
}

.task-expanded .sub-grid {
	height: 150px;
}
.sub-grid .ui-grid-top-panel .ui-grid-cell-contents{
	background-color: #c0c7d7;
}
.task-expanded .combine-v-scrolls-sub #fakeScroll{
	right:0px;
}
.task-expanded label {
	font-size: 14px;
	font-weight: normal;
	color: #737373;
}

.task-expanded small {
	font-size: 14px;
	font-weight: normal;
	color: #000;
}

.task-expanded label.group {
	font-size: 13pt;
	font-weight: bold;
	color: #000;
	padding-top: 12px;
	padding-bottom: 8px;
}

.client-expanded {
	position: relative;
	background: #f7f7f7;
	height: 210px;
	border: #cdd2d8 solid 1px;
	padding-left: 24px;
	width: calc(100% - 40px);
	margin-top: 20px;
}

.client-expanded .client-expanded-details {
	width: calc(100% - 200px);
	background: #f7f7f7;
}

.client-expanded .content{
	display: block;
	min-height: 210px;
}

.client-expanded .sub-grid {
	width: calc(100% - 22px);
	height: 165px;
}

.client-expanded label {
	font-size: 14px;
	font-weight: normal;
	color: #737373;
}

.client-expanded small {
	font-size: 14px;
	font-weight: normal;
	color: #000;
}

.client-expanded label.group {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	padding-top: 12px;
	padding-bottom: 8px;
}
.width100pc{
	width:100%;
}
.padding-bottom{
	padding-bottom: 15px;
}
/*************************************end tasks grid***********************************/
.settings-container-rms .form-dir {
  padding: 5px 20px 20px 0px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  width:50%;
}
/* for directory browser li */
.settings-container-rms .form .input-group input[type="text"]
	{
	width: 100%;
	border-radius: 20px;
	
}

.settings-container-rms .form .browse-div
	{
	height: 200px;
	overflow: hidden;
	border: 1px solid #ddd;
	position: relative;
	background: #fff;
}
.settings-container-rms .form .browse-div-child
{
	display:block;
	padding-left: 5px;
}

.settings-container-rms .form .btngroup-div
	{
	width: 408px;
}

.settings-container-rms .form-browser{
  padding: 5px 20px 20px 0px;
  min-width: 450px;
  display: inline-block;
}


.settings-container-rms .form .btn-center {
	display: block; margin: 10px auto;
	width: 33%;
}

.settings-container-rms .form  .directory-subfolder .underlabel label{
	padding-top: 10px;
	width: 20px;
}

.settings-container-rms .form  .directory-subfolder label{
	padding-top: 10px;
	/*width: 330px;*/
}
.expand-down-browser {
	width: 18px;
	height: 18px;
	display: inline-block;
	background: transparent url('../images/icons/expand_down_normal.png')
		no-repeat center;
	cursor: pointer;
	float: right;
	margin-top:10px;
	margin-right:10px;
}

.expand-up-browser {
	width: 18px;
	height: 18px;
	display: inline-block;
	background: transparent url('../images/icons/expand_up_normal.png')
		no-repeat center;
	cursor: pointer;
	float: right;
	margin-top:10px;
	margin-right:10px;
}

a.tree-icon{
	color: #797979;
	font-size: 16pt;
}
a.tree-icon:hover{
	color: #797979;
}
a.tree-icon:active{
	color: #797979;
}
li.angular-ui-tree-node-border{
	border-bottom: 1px #ddd solid;
}
li.angular-ui-tree-node:hover {
 background-color: #f7f7f7;
}
li.angular-ui-tree-node-expanded{
	background-color: #f7f7f7;
}

.settings-container-rms .user-list
{
	height:200px;
	border: 1px #ddd solid;
	overflow: hidden;
	position: relative;
}
.settings-container-rms .user-list ul
{
	padding-left: 5px;
	padding-top:10px;
}
.settings-container-rms .user-list .li-none{
	list-style: none;
}

.dir-browser{
	width:650px;
	height: 360px;
}
.dir-browser input[type="text"]{
  width: 100%;
  height: 34px;
  padding: 0 10px;
  border: 1px solid #dde0e5;
  border-radius: 20px;
  line-height: 26px;
  font-size: 12px;
  color: #686b72;
}

.dir-browser .browse-div
	{
	height: 200px;
	overflow: hidden;
	border: 1px solid #ddd;
	position: relative;
	padding-left: 8px;
}
.dir-browser .angular-ui-tree-node {
display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  line-height: 20px;
  padding-left: 5px;
    width: 97%;
}

.logsgrid {
  width: 100%;
  height: 595px;
  margin-top : 17px;
}

.logs-grid {
	position: absolute;
	/*width: calc(100% + 18px);*/
}
.logsgrid .ui-grid-cell-contents {
 
  font-size: 14px;
	padding-top: 7.5px;
	padding-left: 3.5px;
	border-bottom: #f7f7f7 solid 1px;
  
}


.logs-expanded {
	position: relative;
	background: #f7f7f7;
	height: 151px;
	overflow: hidden;
	border-left: none;
	border-right: none;
	border-top: #f7f7f7 solid 1px;
	border-bottom: #f7f7f7 solid 1px;
	padding-top: 24px;
	padding-left: 24px;
	width: 100%;
}

.logs-expanded .logs-expanded-details {
	width: calc(100% - 200px);
	background: #f7f7f7;
}

.logs-expanded .content, .logs-expanded #scroller {
	display: block;
	min-height: 150px;
}

.logs-expanded .sub-grid {
	width: calc(100% - 22px);
	height: 100px;
}

.logs-expanded label {
	font-size: 14px;
	font-weight: normal;
	color: #737373;
}

.logs-expanded small {
	font-size: 14px;
	font-weight: normal;
	color: #8E8BB8B;
}

/********Failover Setting***********/

.settings-table table, .settings-table th , .settings-table td  {
  border: 1px  grey;
  border-collapse: collapse;
  padding: 7px;
  text-align: left;
}
/* table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
} */

/* table.failovertable{
	margin-left: 15%;
} */

.settings-table.failover-configuration {
	margin-top: 10px;
}

.settings-table.failover-configuration td .failover-connection-status  {
	padding: 5px;
}


.failover-sync-pending {
	background-color: #FFCE6B;
	padding: 4px;
	border-radius: 4px;
}

.failover-connection-status .RESPONDING:before{
	content: url('../images/check.png');
	background-repeat: no-repeat;
	position: relative;
	top: 0px;
	width: 25px;
}

.failover-connection-status .SUSPECT:before{
	content: url('../images/cross.png');
	background-repeat: no-repeat;
	position: relative;
	top: 0px;
	width: 25px;
}

.failover-connection-status .UNREACHABLE:before{
	content: url('../images/icon_error.png');
	background-repeat: no-repeat;
	position: relative;
	top: 0px;
	width: 25px;
}

.failover-connection-status span.failstate{
	top: -8px;
	position: relative;
}

.settings-table.failover-configuration{
border: 1px solid #d9d9d9;
width: 88%;
color:#797979;
margin-bottom: 1%;
}

.settings-table.failover-configuration td{
text-align:left;
}


.settings-table.failover-configuration  input{
border-radius: 4px;
border: 1px solid #989898
}

.settings-table.failover-configuration .ip-input-box{
display:none;
}

.settings-table.failover-configuration .ip-input-box td{
text-align:left;
border:none;
}
.settings-table.failover-configuration .ip-input-box.active{
display:table-row;
}

.settings-table.failover-configuration  td.virtual-ip-field{
text-align:left;
color:rgb(250, 250, 250);
border:none;
}

.virtual-ip-field input{
margin-left:20px;
}

.failoverheading {
background-color:#f10f10f10;	
}

.peeriparea{
	margin-left : -51%;
}

.virtualiparea{
	margin-left : -37%;
	padding-top : 3%;
}

.settings-container-rms .settings-failover {
	border-top: 1px solid #d9d9d9;
	margin-top: 1%;
}

.settings-container-rms .failover-summary {
	margin-top: 1%;
}

.fail-close-small {
	position: absolute;
	margin-top: 7.6%;
	width: 10px;
	height: 10px;
	right: 8%;
	border: none;
	display: inline-block;
	background: transparent url('../images/delete-x-small.png') no-repeat
		center;
	cursor: pointer;
}

.help-container {
  top: 70px;
  right: 5px;
  padding: 10px;
  font-size: 14px;
  z-index: 11;
}
.help-container li{
	/* list-style: none; */
	display:list-item;
	min-height: 25px;
}
.help-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
 /*  background-image: url('../images/help.png'); */
  background-size: 89% 67%;
  float: right;
  cursor: pointer;
  background-repeat: no-repeat;
  margin-top: 12px;
  margin-right: 4px;
}
/* .help-icon.close {
  background-image: url('../images/close.png');
} */
.help-content {
  display: none;
  height: auto;
  margin-left: 3px;
  margin-top: 12px;
}

.platform-menu-container .help-content {
  display: none;
  height: auto;
  margin-left: -19px;
  margin-top: -32px;
}

.bullets {
  color: black;
  display: inline-block;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
 /*  border-radius: 50%; */
 /*  background: #0156cd; */
  margin-right: 10px;
  margin-left: 3px;
}

.clustermember{
	width:30% ; 
	text-align : left;
	color: #fffff;
	background-color: #C0C7D7;

}

.help-base {
  display: block;
  width: 104%;
  background-color: #f6f6f6;
  height: auto;
  margin-left: -19px;
  margin-top: -9px;
}

.help-icon.close~.help-content {
  display: inline-block;
  width: 90%;
  /* background-color: rgba(242,242,243,.4);
 */  height: auto;
}
.about-box{
	width:470px;
	height: 120px;
	display: block;
	padding: 30px 15px 0 15px;
	text-align: center;
}
.about-box-header{
	background: #3b485a;
}
.about-box-header h3{
	color: #fff;
}

.text_align_center{
	text-align: center;
}

/* input - search */
.search_wrap {position:relative;display:inline-block;width:190px;border:1px solid #dde0e5;color:#babbbe;border-radius:15px;height:28px;}
.search_wrap.on,
.search_wrap:hover,
.search_wrap:active {border-color:#b4b9c3;}
.search_wrap.dim {border-color:#dde0e5;background:#f3f3f3}
input[type="search"] {color: rgb(186, 187, 190);width:140px;padding:0 0 0 16px;height:26px;font-size:12px;float:left;border:0;border-radius: 15px;line-height: normal;}
input[type="search"]:hover {border-color:#b4b9c3;color:#686b72;box-shadow:#edeef0 0 0 0 inset;}
.search_wrap.dim input[type="search"],
.search_wrap.dim input[type="search"]:disabled {background:#f3f3f3;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
	/* detail search more btn */
.search_wrap .more {position:absolute;right:27px;top:3px;font-size:0;border:0;width:19px;height:19px;background:url('../images/icons/search_detail_normal.png') no-repeat 0 0;}
.search_wrap .more:hover {background:url('../images/icons/search_detail_hover.png') no-repeat 0 0}
.search_wrap .more:active {background:url('../images/icons/search_detail_select.png') no-repeat 0 0;}
.search_wrap .more.on {background:url('../images/icons/search_detail_on.png') no-repeat 0 0;z-index:20}
	/* search btn */
.search_wrap .search_btn {position:absolute;right:6px;top:0px;border:0;border-radius:0;border-top-right-radius:15px;border-bottom-right-radius:15px;width:20px;height:26px;background:#fff url('../images/icons/search_normal.png') no-repeat 5px 7px;}
.search_wrap.on .search_btn,
.search_wrap:hover .search_btn,
.search_wrap:active .search_btn {background:#fff url('../images/icons/search_select.png') no-repeat 5px 7px !important;}
.search_wrap.dim .search_btn {background:#f3f3f3 url('../images/icons/search_disabled.png') no-repeat 5px 7px !important;}
.search_wrap .search_btn.no_bl {border-left:0;}

.w500 .search_wrap{
	width: 500px;
}
.w500 input[type="search"]{
	width:450px;
}
.w306 .search_wrap{
	width: 300px;
}
.w306 input[type="search"]{
	width:250px;
}
.w100pc-search{
	width:100%;
	padding-bottom: 8px;
}
.w100pc-search .search_wrap{
	width: 100%;
	background-color: #fff;
}
.w100pc-search input[type="search"]{
	width:98%;
}


.toggle-bg {
  background: white;
  border-radius: 30px;
  border: 1px solid #6D7E98;
  display: inline-block;
  /* ...So that we can set a height and width */
  float: right;
  /* ...So that it doesn't take up the full width of the page */
  height: 20px;
  
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  position: relative;
  background: #6D7E98;
  border-color: #6D7E98;
  margin-top: 8px;
}
.toggle-bg:hover {
  border-color: #6D7E98;
}
.toggle-bg.PM {
  background: #6D7E98;
  border-color: #6D7E98;
}
.toggle-bg input {
  margin: 0;
  padding: 0;
  width: 4.8em;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 2;
  /* We want the input to be over the span.switch, which we'll give a z-index of 1 */
  /*IE*/
  zoom: 1;
  filter: alpha(opacity=0);
 
}
.toggle-bg input:checked ~ .switch {
  left: 0;
}
.toggle-bg input ~ :checked ~ .switch {
  left: 1.18em;
}
.toggle-bg input:checked {
  z-index: 0;
}

.switch {
  background: white;
  border-radius: 28px;
  border: 1px solid #d9d9d9;
  display: block;
  float: left;
  height: 18px;
  width: 18px;
  left: -.1em;
  position: relative;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  z-index: 1;
  /* Remember, it must be below the invisible inputs */
}
.switch.PM {
  box-shadow: -0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), 0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}
.switch.AM {
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), -0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}

.toggle-alternate {
  clear: both;
  width: 65px;
}
.toggle-alternate input {
  width: 6.24em;
}
.toggle-alternate input ~ :checked ~ .switch {
  left: 45px;
}

.toggle-alternate label {
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  top: -1.5px;
  padding-top: 0px;
}

.toggle-bg label.PM {
  left: 15px;
  color: white;
}

.toggle-bg label.AM {
  right: 15px;
  color: #fff;
}

.ui-grid-menu-button{
		display:inline-block;
	width: 40px;
	background:#fff;
}
.ui-grid-menu-button:hover{
	background:#f3f3f3;
}
.ui-grid-menu-button .ui-grid-icon-container {
	margin-top: 0px;
}
.ui-grid-menu .ui-grid-menu-inner{
	background-color: #fff;
}
.ui-grid-menu .ui-grid-menu-inner ul li:first-child{
	background-color: #f3f3f3;
}
.group-summary{
	height: 450px;
	max-height: 450px;
	display: inline-block;
}
.group-summary .content{
	min-height: 450px;
	padding-right:8px;
	padding-left:15px;
	display: inline-block;
	min-width:500px;
	max-width:575px;
}
.group-summary .content .col-sm-6{
	width: 325px;
}

.modal {
    overflow-y: auto;
    overflow-x:auto;
    -webkit-overflow-scrolling: auto;
}
.modal-open #footer{
	display: none;
}

.menu-scroll-container{
	overflow: hidden;
	display: inline-block;
}
.menu-scroll-container .iScrollVerticalScrollbar{
	top:0px;
	/*bottom: 115px;*/
}
textarea {
    resize: none;
}
.settings-container-rms .col-sm-3 {
min-width:210px;
}
::-webkit-input-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; } /* ie */
input:-moz-placeholder { font-style: italic; }

.ui-grid-cell .camel{
	text-transform: capitalize;
}
.logs-expanded #scroller{
	position:static;
}
.task-form .form-group {
    margin-bottom: 10px;
}
.task-form .form-rms-firmware {
	padding: 15px 0 0px 15px;
}
.form-rms-firmware .form-group1{
	    margin-bottom: 10px;
}

.xs-wizard .modal-header{
	background: #3b485a;
	border-bottom: none;
}
.xs-wizard .modal-header h3{
	color: #fff;
}

/**********************div arrow box *******************************/
.arrow_box {
	position: relative;
	background: #f7f7f7;
	border: 1px solid #cdd2d8;
	left: 0px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(247, 247, 247, 0);
	border-bottom-color: #f7f7f7;
	border-width: 20px;
	margin-left: -20px;
}
.arrow_box:before {
	border-color: rgba(205, 210, 216, 0);
	border-bottom-color: #cdd2d8;
	border-width: 21px;
	margin-left: -21px;
}
/********************************end div arrow *******************************/
.icon-size{
	font-size: 24px;
}

.task-expanded .ui-grid-cell-contents, .group-expanded .ui-grid-cell-contents{
	padding-top: 4.5px;
	/*border-bottom: #c0c7d7 solid 1px;*/ 
}
.control-label{
	display: block;
	height: 35px;
	line-height: 35px;
	font-weight: normal;
}
.log-expanded-mrt20{
	margin-top: 20px;
	width: calc(100% - 45px);
}
.padl10{
	padding-left: 15px;
}
.padb0{
	padding-bottom: 0px;
}
.min-height-180{
	min-height: 180px;
}
.padt0{
	padding-top: 0px;
}
.padt5{
	padding-top: 5px;
}
.padt15{
	padding-top: 15px;
}
.w543{
	width: 543px;
}
.w650{
	width: 650px;
}
.w300{
	width:300px;
}
.w105{
	width:105px;
	display: inline-block;
}
.w216{
	width:216px;
}
.pdr18{
	padding-right: 18px;
}
.pointer{
	cursor: pointer;
}
a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}

.text-align-left{
	text-align: left;
}
.user-role-bg{
	background: #cdd2d8;
	display: table;
	width: 100%;
}
.bg-white{
	background: #fff;
}
.settings_required_info{
	margin-left: 15px;
}
.settings_required_ast{
	font-size: 18px;
    display: inline-block;
    width: 7px;
}
.settings_required_failover{
	font-size: 18px;
	margin-left: -236px;
}
.status-text{
	position: absolute;
    padding-left: 2px;
}
.top-nav-icons{
	position: absolute;
    padding-top: 7px;
}
/*bootstrap size overrides*/
.col-sm-1 {
	width: 144px;
}

.col-sm-1-25 {
	width: 230px;
	margin-left: 17px;
} 
.col-sm-3 {
	width: 430px;
}
.col-sm-2 {
	width: 236px;
}
.col-sm-2-5 {
	width: 259px;
	margin-left: 17px;
}
.col-sm-1-5{
	width: 160px;
}
.col-sm-1-8{
	width: 180px;
}
.fa-20px{
	font-size: 20px;
}
.wiz-right-content label.pd-top-zero{
	padding-top: 0px;
}
.wiz-right-content label.pd-top-7{
	padding-top: 7px;
}
.has-error .control-label{
	color: #000;
}
.has-error .form-control{
	border-color: #ddd;
	box-shadow:none;
}
.has-error .form-control:focus{
	border-color: #5c5c5c;
	box-shadow:none;
}
.requiredfiled {

	display: inline;
	font-size: 18px;
}

.greentext:before{
	content: url('../images/check.png');
	background-repeat: no-repeat;
	position: relative;
	top: 10px;
}

.redtext:before{
	content: url('../images/icon_error.png');
	background-repeat: no-repeat;
	position: relative;
	top: 10px;
}

.first-config-wiz div.modal-header{
	background: #3b485a;
}
.first-config-wiz div h3{
	padding-left: 12px;
	font-size: 18px;
		color: #fff;
}
.first-config-wiz .citrix-header{
	display: none;
}
.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

